@use "../../../styles/variables.scss" as *;

.header {
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin: 0 45px 40px 45px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid $text-light;

    .contact-info {
      display: flex;
      gap: 33px;
      color: $text-primary;
    }

    .header-links {
      display: flex;
      gap: 38px;
    }

    a {
      color: $green-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px 40px 45px;
  }

  .header-title {
    cursor: pointer;
  }

  .icon-container {
    display: flex;
    gap: 40px;
  }

  .icon-button {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .item-count {
    position: absolute;
    width: 16px;
    height: 18px;
    bottom: -5px;
    left: -5px;
    background-color: #e5704b;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    padding: 16px 45px;
    background-color: $bg-base;

    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      padding: 0;
      margin: 0;
      list-style: none;

      .nav-item {
        position: relative;
        list-style: none;

        .nav-link {
          text-decoration: none;
          color: $text-primary;
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
          padding: 16px;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-40%);
            width: 16px;
            height: 16px;
            background: url("/icons/ic-chevron-down.svg") no-repeat center;
            background-size: contain;
            pointer-events: none;
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $bg-base;
          padding: 10px 0;
          list-style: none;
          z-index: 1000;

          .dropdown-item {
            padding: 8px 15px;
            text-decoration: none;
            color: $text-primary;
            font-size: 14px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: $text-light;
            }
          }

          &.show {
            display: block;
            animation: fadeIn 0.3s ease;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
