$text-primary: #151515;
$text-secondary: #575757;
$text-muted: #a9a9a9;
$text-light: #d1d1d1;
$text-white: #ffffff;

$bg-base: #f5f5f5;
$bg-light: #f9f9f9;

$green-primary: #6a983c;
$green-dark: #46760a;
$green-medium: #92c064;
$green-light: #c8deb3;
