<footer class="footer">
  <div class="footer-columns">
    <div class="footer-column">
      <h4>Get in touch</h4>
      <ul>
        <li><a>About Us</a></li>
        <li><a>Careers</a></li>
        <li><a>Press Releases</a></li>
        <li><a>Blog</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Connections</h4>
      <ul>
        <li><a>Facebook</a></li>
        <li><a>Twitter</a></li>
        <li><a>Instagram</a></li>
        <li><a>Youtube</a></li>
        <li><a>LinkedIn</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Earnings</h4>
      <ul>
        <li><a>Become an Affiliate</a></li>
        <li><a>Advertise your product</a></li>
        <li><a>Sell on Market</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Account</h4>
      <ul>
        <li><a routerLink="auth">Your account</a></li>
        <li><a>Returns Centre</a></li>
        <li><a>100 % purchase protection</a></li>
        <li><a>Chat with us</a></li>
        <li><a>Help</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-footer">
    <p>Copyright © 2020 petrbilek.com</p>
  </div>
</footer>
