<div class="search-filter">
  <div class="category-select">
    <select class="styled-select">
      <option value="all">Categories</option>
      <option value="electronics">Product</option>
      <option value="clothing">Blog</option>
    </select>
  </div>
  <div class="divider"></div>
  <input
    type="text"
    class="search-input"
    placeholder="Search Products, categories ..."
  />

  <button class="search-button">
    <img
      src="icons/ic-actions-search.svg"
      alt="Search Icon"
      class="icon-search"
    />
  </button>
</div>
